<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="/public/controllers/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/public/controllers/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/public/controllers/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="/public/controllers/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/public/controllers/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<link href="lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>影视名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="film_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">小标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="show_title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="film_type" class="select">
					<option value="0">电影</option>
					<option value="1">电视剧</option>
					<option value="2">动漫</option>
					<option value="3">综艺</option>
				</select>
				</span> </div>
		</div>
		<div class="row cl skin-minimal">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="check-box">
				<label for="checkbox-1">动作</label>
				<input type="checkbox" value="动作" name="type" id="checkbox-1">
				</div> 
				<div class="check-box">
				<label for="checkbox-2">喜剧</label>
				<input type="checkbox" value="喜剧" name="type" id="checkbox-2">
				</div>
				<div class="check-box">
				<label for="checkbox-3">科幻</label>
				<input type="checkbox" value="科幻" name="type" id="checkbox-3">
				</div>
				<div class="check-box">
				<label for="checkbox-4">恐怖</label>
				<input type="checkbox" value="恐怖" name="type" id="checkbox-4">
				</div>
				<div class="check-box">
				<label for="checkbox-5">剧情</label>
				<input type="checkbox" value="剧情" name="type" id="checkbox-5">
				</div>
				<div class="check-box">
				<label for="checkbox-6">战争</label>
				<input type="checkbox" value="战争" name="type" id="checkbox-6">
				</div>
				<div class="check-box">
				<label for="checkbox-7">惊悚</label>
				<input type="checkbox" value="惊悚" name="type" id="checkbox-7">
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">评分：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" name="score" id="" placeholder="" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">地区：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
    				<input type="radio" id="radio-1" value="1" name="region">
    				<label for="radio-1">国产剧</label>
  				</div>
  				<div class="radio-box">
    				<input type="radio" id="radio-2" value="2" name="region">
    				<label for="radio-2">港台剧</label>
  				</div>
  				<div class="radio-box">
    				<input type="radio" id="radio-3" value="3" name="region">
    				<label for="radio-3">日韩剧</label>
  				</div>
  				<div class="radio-box">
    				<input type="radio" id="radio-4" value="4" name="region">
    				<label for="radio-4">欧美剧</label>
  				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="intro" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！"></textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">图片：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" name="img" id="img" placeholder="" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/controllers/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/public/controllers/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/public/controllers/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/public/controllers/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/controllers/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/public/controllers/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/public/controllers/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/public/controllers/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/public/controllers/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="/public/controllers/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/public/controllers/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/public/controllers/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	})

	$('#form-article-add').on('submit',function(ev){
		ev.preventDefault()

		var formData = $(this).serialize(),
			$img = $('#img');
			var FD = new FormData()
			FD.append('img',$img[0].files[0])
			formData +=('&img=' + FD)
			console.log(formData)

		$.ajax({
			url:'/admin/index/film-add',
			data:formData,
			type:'post',
			dataType:'json',
			success:function(data){
				console.log(data)
			}
		})
	})
})
</script>
</body>
</html>