{{block 'header'}}

{{/block}}
<nav class="navbar navbar-default header" role="navigation">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="/public/img/logo.jpg" alt=""></a>
    </div>
    <div class="nav-right">

        <form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="name">名称</label>
    <input type="text" class="form-control" id="name" placeholder="请输入名称">
  </div>
  <div class="btn-group form-right">
    <!-- 当登录时不显示登录和注册，未登录时不显示发起界面 -->
    {{if user}}
    <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">发起
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="#">当前登录用户：{{user.nickname}}</a>
        </li>
        <li>
            <a href="#">个人主页</a>
        </li>
        <li>
            <a href="#">设置</a>
        </li>
        <li></li>
        <li>
            <a href="/logout">退出</a>
        </li>
    </ul>
    {{else}}
        <a class="btn btn-primary btn-sm" href="/login">登录</a>
        <a class="btn btn-success btn-sm" href="/register">注册</a>
    {{/if}}
    

		
	</div>
</form>
	
    </div>
    </div>
</nav>