.header{
	background-color: #f7f7f7;
	margin-bottom: 30px;
}
.header .navbar{
	height: 50px;
}
.header .navbar-header{
	width: 100px;
}
.header .nav-right{
	width: calc(100% - 200px)
}
.header .form-inline .form-group{
	flex: 1 0 auto;
}
.header a.btn{
	color:white !important;
	margin-left: 10px;
}