<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{block 'title'}}默认标题{{/block}}</title>
  <link rel="stylesheet" href="/public/css/mui.css">
  <link rel="stylesheet" href="/public/css/common.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 留坑，css样式 -->
  {{block 'head'}}{{/block}}

</head>
<body id="refreshContainer" class="mui-scroll-wrapper">
  {{include '../_partials/header.html'}}
  {{block 'body'}}{{/block}}
  {{include '../_partials/footer.html'}}
  <div id="QRcode" class="hide">
    <div class="mask"></div>
    <p>
      <span class="mui-icon mui-icon-closeempty closeQR"></span>
      <img src="/public/img/QRcode.png">
    </p>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
   <script src="/public/js/mui.js"></script>
   <script src="/public/js/common.js"></script>
   <script>
    function al() {
      $('#refreshContainer>ul').height(5000)
      console.log('1')
    }
   mui.init({
  pullRefresh : {
    container:refreshContainer,//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
    up : {
      contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
      contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
      callback :al //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
    }
  }
}); 
   </script>
</body>
</html>