<!-- index页面继承layout模板，并填坑 -->

{{extend './_layouts/home.html'}}

{{block 'head'}}
<style>
	.media>a{
		display: inline-block;
		width: 50px;
		margin-right: 15px;
	}
</style>
{{/block}}

{{block 'body'}}
<!-- 填坑内容 -->
<div class="container">
	<div class="row" style="width:800px">
        <div class="media">
            <a href="#" class="media-left media-middle media-bottom">
                <img src="/public/img/lufei.jpg" width="100"/>
            </a>
            <div class="media-body">
                <h4 class="media-heading text-info">java学院</h4>
                <p>javajavajavajavajavajavajavajavajava
                    javajavajavajavajavajavajavajavajava
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="width:800px">
        <div class="media">
            <a href="#" class="media-left media-middle media-bottom">
                <img src="/public/img/lufei.jpg" width="100"/>
            </a>
            <div class="media-body">
                <h4 class="media-heading text-info">java学院</h4>
                <p>javajavajavajavajavajavajavajavajava
                    javajavajavajavajavajavajavajavajava
                </p>
            </div>
        </div>
    </div>
</div>
{{/block}}