<!-- art-template 模板继承 -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- 留坑做css -->
    {{block 'head'}}{{/block}}
  </head>

 <body>
  <!--  引入公共头部 -->
  {{include './header.html'}}

  <!-- 挖一个坑，将来给孩子填坑，相当于变量 -->
  {{block 'content'}} 
    <h2>默认内容</h2>
  {{/block}}
  <!--  引入公共底部 -->
  {{include './footer.html'}}
  <!-- 留js坑 -->
  {{block 'script'}}{{/block}}
 </body>
</html>
