<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="/public/css/login/style.css" />
<link rel="stylesheet" type="text/css" href="/public/css/login/body.css"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form id="login_form">
			<h1>会员登录</h1>
			<div>
				<input type="text" placeholder="账号" required="" id="username" name="account" />
			</div>
			<div>
				<input type="password" placeholder="密码" required="" id="password" name="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<a href="#">忘记密码?</a>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->
		 <div class="button">
			<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
		</div> <!-- button -->
	</section><!-- content -->
</div>
<!-- container -->
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
	$(function(){
		$('#login_form').on('submit',function(e){
			e.preventDefault()
			//序列化数据
			var formData = $(this).serialize()
			//发送ajax请求
			$.ajax({
				url:'/user/login',
				type:'post',
				data:formData,
				dataType:'json',
				success:function(data){
					//0:成功，1：重复，500：服务端出错
					if(data.err_code===0){
						//ajax为异步操作，服务端无法异步重定向，所以要在客户端重定向
						window.location.href = '/user/index'
					}else{
						console.log(data.err_code)
						alert('登录失败！')
					}
				}
			})
		})
	})
</script>
</body>
</html>